.run {
    animation: run 15s linear;
    animation-iteration-count: infinite;
}

@keyframes run {
    0% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(1000%, 0);
    }
}

.chase {
    animation: chase 15s linear;
    animation-iteration-count: infinite;
}

@keyframes chase{
    0% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(900%, 0);
    }
}

