body {
    margin: 0;
}

img {
    width: 100%;
}

#screen {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

#game {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    overflow: hidden;
}

#game_background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-image: url(trees/game_background_2.png);
    background-size: cover;
}

#game_elements {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

#warrior1_container {
    position: absolute;
    top: 35%;
    left: 0%;
    width: 7.5%;
    z-index: 96;
}

#warrior1_sprite {
    width: 100%;
    height: 100%;
}

#warrior2_container {
    position: absolute;
    top: 45%;
    left: 0%;
    width: 9%;
    z-index: 97;
}

#warrior2_sprite {
    width: 100%;
    height: 100%;
}

#monster1_container {
    position: absolute;
    width: 13%;
    top: 45%;
    left: 0%;
    z-index: 98;
}

#monster2_container {
    position: absolute;
    width: 15%;
    scale: 225%;
    top: 65%;
    left: 10%;
    z-index: 99;
}

#monster3_container {
    position: absolute;
    width: 15%;
    top: 62%;
    left: -2%;
    z-index: 100;
}

#tree1_container {
    z-index: 999;
    position: absolute;
    width: 30%;
    transform: translate(272%, 65%);
}

#tree2_container {
    z-index: 1;
    position: absolute;
    width:50%;
    transform: translate(148%,0%);
}

#tree3_container {
    z-index: 998;
    position: absolute;
    width: 30%;
    transform: translate(-39%, 37%);
}

#tree4_container {
    z-index: 2;
    position: absolute;
    width: 25%;
    transform: translate(-15%, -16%);
}