body {
    margin: 0;
}

#screen {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

#game {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
}

#start {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}

#game_over {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}

#level_complete {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}

#game_background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(trees/game_background_2.png);
    background-size: cover;
}

#game_elements {
    width: 100%;
    height: 100%;
    position: absolute;
}

#game_ui {
    width: 100%;
    height: 100%;
    position: absolute;
}

/*containers here*/

#mob1_container {
    position: absolute;
    scale: 220%;
}

#mob1_sprite {
    width: 100%;
}

#mob2_container {
    position: absolute;
    scale: 210%;
}

#mob2_sprite {
    width: 100%;
}

#mob3_container {
    position: absolute;
    scale: 250%;
}

#mob3_sprite {
    width: 100%;
}

#human_container {
    position: absolute;
    scale: 290%;
}

#human_sprite {
    width: 100%;
}

#potion_container {
    position: absolute;
    scale: 20%;
}

#potion_sprite {
width: 100%;
}


#tree1_container {
    position: absolute;
    scale: 250%;
    transform: translate(-10%, 80%);
    z-index: 1000;
}

/* start positioner*/
.position1 {
    top: 30%;
}
.position2 {
    top: 45%;
}
.position3 {
    top: 55%;
}
.position4 {
    top: 70%;
}



