body {
    margin: 0;
}

#screen {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

#game {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
}

#start {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(trees/game_background_2.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
}

#main_menu {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    scale: 250%;
    transform: translate(0vw, 20vw);
}

h2 {
    position: absolute;
    color: f7f0d1;
    top: -1.5%;
    left: 38.5%;
    font-size: 2.7em;
    font-family: 'Rampart One', cursive;
}
h3 {
    position: absolute;
    color: f7f0d1;
    font-size: 0.9em;
    top: 14%;
    left: 42.5%;
    font-family: 'Caveat', cursive;
}
h6 {
    position: absolute;
    color: f7f0d1;
    scale: 120%;
    top: 13.5%;
    right: 41.6%;
    font-family: 'Caveat', cursive;
}

#para1 {
    position: absolute;
    color: f7f0d1;
    top: 18%;
    right: 41.2%;
    font-size: 0.9em;
    font-family: 'Russo One', sans-serif;}

#menu1_img {
    position:absolute;
    top: 8%;
    right: 57%;
    scale: 120%;
}
#menu2_img {
    position:absolute;
    top: 9.3%;
    right: 54%;
    scale: 100%;
}
#menu3_img {
    position:absolute;
    top: 10%;
    right: 52%;
    scale: 100%;
}
#menu4_img {
    position:absolute;
    top: 11%;
    right: 42%;
    scale: 150%;
}

#btn_start {
    position: absolute;
    top: 23.5%;
    right: 47%;
    background-color: f7f0d1;
    padding: 10px 40px;
    border-radius: 8px;
    font-family: 'Russo One', sans-serif;
}

#game_background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(trees/game_background_2.png);
    background-size: cover;
}

#game_elements {
    width: 100%;
    height: 100%;
    position: absolute;
}

#score_board {
    text-align: right;
}

#game_ui {
    position: absolute;
    top: 2vw;
    right: 1vw;
    color: white;

    font-size: 2em;

    pointer-events: none;
}

#kill_count {
    white-space: nowrap;
    text-align: right;
    font-size: 2.5em;
    font-family: 'Press Start 2P', cursive;
    color:white;
}

#life_board {
    margin-block-start: 0.2em;
    display: grid;
    grid-template-columns: 2em 2em 2em 2em 2em;
}

#life_board img {
    width: 100%;
}

#level_complete {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(trees/game_background_2.png);
    background-size: cover;
}

#level_complete_menu {
    position: absolute;
    scale: 150%;
    transform: translate(25vw, 12vw);
}

h5 {
    position: absolute;
    font-size: 3em;
    top: -20%;
    left: 13%;
    font-family: 'Rampart One', cursive;
    color: f7f0d1;
}

#para3 {
    position: absolute;
    font-size: 1.5em;
    text-align: center;
    top: 20%;
    left: 10%;
    font-family: 'Russo One', sans-serif;
    color: f7f0d1;

}

#level_complete_btn {
    position: absolute;
    padding: 10px 40px;
    top: 72%;
    right: 37%;
    border-radius: 8px;
    background-color: f7f0d1;
}

#game_over {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(trees/game_background_2.png);
    background-size: cover;
}

#game_over_menu {
    position: absolute;
    scale: 150%;
    transform: translate(25vw, 12vw);
}

h4 {
    position: absolute;
    font-size: 3.5em;
    top: -15%;
    left: 19.5%;
    font-family: 'Rampart One', cursive;
    color: f7f0d1;
}

#para2 {
    position: absolute;
    font-size: 2em;
    text-align: center;
    top: 28%;
    left: 25%;
    font-family: 'Russo One', sans-serif;
    color: f7f0d1;

}

#btn_restart {
    position: absolute;
    padding: 10px 40px;
    top: 70%;
    right: 37%;
    border-radius: 8px;
    background-color: f7f0d1;

}

/*containers here*/

#mob1_container {
    position: absolute;
    scale: 300%;
}

#mob1_sprite {
    width: 100%;
}

#mob2_container {
    position: absolute;
    scale: 300%;
}

#mob2_sprite {
    width: 100%;
}

#mob3_container {
    position: absolute;
    scale: 350%;
}

#mob3_sprite {
    width: 100%;
}

#human_container {
    position: absolute;
    scale: 375%;
}

#human_sprite {
    width: 100%;
}

#potion_container {
    position: absolute;
    scale: 20%;
    top: -25%;
}

#potion_sprite {
width: 100%;
}


#tree1_container {
    position: absolute;
    scale: 275%;
    transform: translate(-10%, 95%);
    z-index: 998;
}

#tree2_container {
    position: absolute;
    scale: 275%;
    transform: translate(355%, 135%);
    z-index: 999;
}

.hidden,
#game_over.hidden,
#level_complete.hidden {
    display: none;
}



